<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayIsTV</key>
	<false/>
	<key>DisplayPixelDimensions</key>
	<data>
	AAAHgAAAAgM=
	</data>
	<key>DisplayProductID</key>
	<integer>2175</integer>
	<key>DisplayProductName</key>
	<string>Screenpad Plus</string>
	<key>DisplayVendorID</key>
	<integer>2533</integer>
	<key>default-resolution</key>
	<data>
	AAAHgAAAAgMAAAA8
	</data>
</dict>
</plist>