.*
!/.gitignore
!/.gitmodules
!/.github
!/.vscode

# Build artifacts
/dist

# macOS Boot Image
/com.apple.recovery.boot

# OpenCore specific caches
opencore-*[0-9].txt
!.contentVisibility

# macOS specific caches
/.fseventsd
/.Spotlight-V100
/.Trashes

# Windows specific caches
/$RECYCLE.BIN
/FOUND.000
/FOUND.001
/System Volume Information