<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#Note</key>
	<string>Merge ACPI patches under ACPI &gt; Patch</string>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>DISABLE-SCREENPAD.aml</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>DISABLE-SCREENPAD.aml</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Base</key>
				<string>\_SB.PCI0</string>
				<key>BaseSkip</key>
				<integer>0</integer>
				<key>Comment</key>
				<string>NWAK to XWAK</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>TldBSw==</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Replace</key>
				<data>WFdBSw==</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data></data>
			</dict>
		</array>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>disable-external-gpu</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
